<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOLMIN_SC.Negocio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SOLMIN_SC.Negocio.My.MySettings>
            <setting name="SOLMIN_SC_Negocio_WSyrcRns_AddData" serializeAs="String">
                <value>http://www.yrcransaexpediting.com/yrcransaws/AddData.asmx</value>
            </setting>
            <setting name="SOLMIN_SC_Negocio_WSABB_Integracion_IntegracionABB"
                serializeAs="String">
                <value>http://asp.ransa.net/WSMineriaABB/IntegracionABB.asmx</value>
            </setting>
            <setting name="SOLMIN_SC_Negocio_WSABB_IntegracionTest_IntegracionABBTest"
                serializeAs="String">
                <value>http://asp.ransa.net/WSMineriaABB/IntegracionABBtest.asmx</value>
            </setting>
            <setting name="SOLMIN_SC_Negocio_ascinsa_ransa_asp_WsSolminSil"
                serializeAs="String">
                <value>http://asp.ransa.net/wsmineria/wssolminsil.asmx</value>
            </setting>
            <setting name="SOLMIN_SC_Negocio_pe_com_ransa_asp_SolminWeb"
                serializeAs="String">
                <value>http://ranmolapl01.gruporansa.gromero.net/imagenessolmin/SolminWeb.asmx</value>
            </setting>
            <setting name="SOLMIN_SC_Negocio_WSmiqransa_AddData" serializeAs="String">
                <value>http://www.miqransaexpediting.com/miqransaws/adddata.asmx</value>
            </setting>
            <setting name="SOLMIN_SC_Negocio_WSmiqpowerplus_AddData" serializeAs="String">
                <value>http://powerplus.miq.com/miqransaws/AddData.asmx</value>
            </setting>
        </SOLMIN_SC.Negocio.My.MySettings>
    </applicationSettings>
</configuration>
