<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
 <!--<add key ="DataBase" value ="Data Source=ransa01; UserId=$USER; Password=$PASS; Datacompression=True;DefaultCollection=DC@DESLIB; Pooling=True"/>-->
       <add key="DataBase" value="Data Source=ransa; UserId=$USER; Password=$PASS; Datacompression=True;DefaultCollection=DC@RNSLIB; Pooling=True"/> 
    <!--<add key="MySqlDataBase" value="Server=RANCALASC3;Database=ADUANAS;Uid=sa;Pwd=rbt86572a;"/>-->
    
    <add key="Sistema" value="SOLMIN - Módulo de Seguimiento Logístico Minero"/>
    <!--<add key ="Lib" value ="DC@DESLIB"/>-->
    <add key="Lib" value="DC@RNSLIB"/>
    <!-- TITULO DE LA PANTALLA PRINCIPAL-->
    <add key="Titulo" value="SOLMIN - Módulo de Seguimiento Logístico Minero"/>



    <!-- PARAMETROS PARA EL ENVIO DE EMAIL-GMAIL-->
    <add key="email_account_gmail" value="solmin.integracion@gmail.com"/>
    <add key="email_password_gmail" value="Pa$$w0rd2000"/>
    <add key="emailto_error" value="jcachom@gromero.com.pe"/>

    <!--  PARAMETROS PARA EL ENVIO DE EMAIL-RANSA -->
    <add key="email_account" value="solminintegracion@ransa.net"/>
    <add key="email_password" value="Pa$$w0rd2"/>
    
       
    <!-- ALGUNOS PARAMETROS PARA EL ENVIO DE EMAIL POR GMAIL-->
    <!--<add key="email_account" value="solmin.integracion@gmail.com"/>
    <add key="email_password" value="Pa$$w0rd2000"/>-->        
    <!-- ALGUNOS PARAMETROS PARA CARGAR PARA IMAGENES SIL-->
    <!--<add key="URL_ADJ_SIL" value="http://asp.ransa.net/wapmineria/imagenes/solmin/SOLMIN_SC/"/>-->

    <!--<add key="URL_ADJ_RAIZ" value="http://ranmolapl01.gruporansa.gromero.net/imagenessolmin/"/>
    <add key="URL_ADJ_SIL" value="http://ranmolapl01.gruporansa.gromero.net/imagenessolmin/imagenes/solmin/SOLMIN_SC/"/>
    <add key="URL_ADJ_SIL_COSTO" value="http://ranmolapl01.gruporansa.gromero.net/imagenessolmin/imagenes/solmin/SOLMIN_SC/COSTOS_EMBARQUE/"/>
    <add key="URL_COSTO_CARPETA" value="SOLMIN_SC\COSTOS_EMBARQUE"/>-->

    <add key="URL_ADJ_RAIZ" value="http://secure.ransa.net/imagenessolmin/"/>
    <add key="URL_ADJ_SIL" value="http://secure.ransa.net/imagenessolmin/imagenes/solmin/SOLMIN_SC/"/>
    <add key="URL_ADJ_SIL_COSTO" value="http://secure.ransa.net/imagenessolmin/imagenes/solmin/SOLMIN_SC/COSTOS_EMBARQUE/"/>
    <add key="URL_COSTO_CARPETA" value="SOLMIN_SC\COSTOS_EMBARQUE"/>
    
       
    <!-- ALGUNOS PARAMETROS PARA CARGAR POR DEFECTO-->
    <add key="System" value="SOLMIN_SC"/>
    <add key="System_prefix" value="SC"/>
    <!--<add key="Compania" value="EZ"/>º
    <add key="Division" value="S"/>-->    
   <add key="DivisionEZ" value="S"/>
  
  
   <!-- para el envio de documentos  por correo se usaba Smtp.mail.microsoftonline.com -->
    <!-- para el envio de documentos por correo - TRANSPORTE -->
    <add key="MailCO" value="solmin.integracion@gmail.com"/>
    <add key="MailFrom" value="solminintegracion@ransa.net"/>
    <add key="MailFromClave" value="Pa$$w0rd2"/>
    <add key="ServerMail" value="pod51010.outlook.com"/>
  
  </appSettings>

  
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
