<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key ="DataBase" value ="Data Source=ransa01; UserId=appdb2; Password=appdb2; Datacompression=True;DefaultCollection=DC@DESLIB; Pooling=True"/>-->
    <add key ="DataBase" value ="Data Source=ransa; UserId=appdb2; Password=appdb2; Datacompression=True;DefaultCollection=DC@RNSLIB; Pooling=True"/>
    <!--<add key ="Lib" value ="DC@DESLIB"/>-->
    <add key ="Lib" value ="DC@RNSLIB"/>
    <!-- ALGUNOS PARAMETROS PARA EL ENVIO DE EMAIL POR GMAIL-->
    <add key="email_account" value="solminintegracion@ransa.net"/>
    <add key="email_password" value="Pa$$w0rd2"/>
    <add key="emailbc" value="jcachom@gromero.com.pe;warteagaj@gmail.com"/>

    <!--  PARAMETROS PARA EL ENVIO DE EMAIL - GMAIL-->
    <add key="email_account_gmail" value="solmin.integracion@gmail.com"/>
    <add key="email_password_gmail" value="Pa$$w0rd2000"/>
    <add key="emailto_error" value="jcachom@gromero.com.pe"/>

    
  </appSettings>

</configuration>
