<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings> 

      <!--CADENA DE CONEXION AL SITEMA-->
   <add key ="DataBase" value ="Data Source=ransa01; UserId=$USER; Password=$PASS; Datacompression=True;DefaultCollection=DC@DESLIB; Pooling=True"/>
       <!--<add key ="DataBase" value ="Data Source=ransa; UserId=$USER; Password=$PASS; Datacompression=True;DefaultCollection=DC@RNSLIB; Pooling=True"/>-->
      <!--<add key ="DataBase" value ="Data Source=ransaT01; UserId=$USER; Password=$PASS; Datacompression=True;DefaultCollection=DC@RNSLIB; Pooling=True"/>-->
      <!-- TITULO DEL SISTEMA-->
      <!--<add key ="Sistema" value ="SOLMIN - Modulo de Contratos y Facturación"/>-->
      <add key ="Sistema" value ="SOLMIN - Módulo de Administración"/>
      <!-- TITULO DE LA PANTALLA PRINCIPAL-->
      <!--<add key="Titulo" value="SOLMIN - Modulo de Contratos y Facturación"/>-->
      <add key="Titulo" value="SOLMIN - Módulo de Administración"/>
      <!-- MENSAJE DE ERROR DEL SISTEMA-->
      <add key ="MsgErr" value ="La operación no pudo completarse, Notifique este evento al Dpto. de Sistemas."/>
      <add key ="MENSAJE.EXITO" value ="El Proceso se completo con Exito"/>
      <add key ="MENSAJE.ERROR" value ="Error al Guardar el Registro"/>
      <add key ="MENSAJE.ERROR.EMBARQUE" value ="Ingrese el Número de embarque correcto"/>
      <add key ="MENSAJE.CONFIRMA.ELIMINA.SERVICIO" value ="Está seguro de eliminar el servicio seleccionado?"/>
      <add key ="MENSAJE.ERROR.ELIMINA.SERVICIO" value ="No se puede eliminar porque ya ha sido facturada"/>
      <add key ="MENSAJE.ERROR.ELIMINA.SERVICIO2" value ="No hay ningun Servicio Asociado a la Operación"/>
      <!-- INICIO EXCLUSIVO EN UN SERVIDOR-->
      <add key="Desarrollo" value =""/>
      <add key ="URLDocLinksSolAlmacen" value ="https://secure.ransa.net/imagenessolmin/imagenes/solmin/"/>
      <!-- RUC de RANSA-->
      <add key="RUCRANSA" value ="20100039207"/>
      <!-- VARIABLE DE CARGA DE PRE LOADER-->
      <add key="Preloader" value ="no"/>
      <!-- Krypton Face-->
      <add key="Krypton" value ="2"/>
      <!-- ALGUNOS PARAMETROS PARA CARGAR POR DEFECTO-->
      <add key ="System" value ="SOLMIN_CT"/>
      <add key ="System_prefix" value ="SD"/>
      <!-- FORMULARIO DE COTIZACION -->
      <add key="Compania" value="EZ"/>
      <add key="Division" value="T"/>
      <add key="Planta" value="1"/>
      <!-- para el envio de documentos por correo -->
      <!--<add key="MailCO" value="solmin.integracion@gmail.com"/>
      <add key="MailFrom" value="solminintegracion@ransa.net"/>
      <add key="MailFromClave" value="Pa$$w0rd1"/>
      <add key="ServerMail" value="Smtp.mail.microsoftonline.com"/>
      <add key="Url" value="http://asp.ransa.net/portalmineria/index.aspx"/>-->
      <!--<add key="Url" value="http://localhost:3246/Web/frmConfirmarDocumentos.aspx"/>-->
      <add key="MailCO" value="solmin.integracion@gmail.com"/>
      <add key="MailFrom" value="solminintegracion@ransa.net"/>
      <add key="MailFromClave" value="Pa$$w0rd2"/>
      <add key="ServerMail" value="pod51010.outlook.com"/>
      <add key="Url" value="https://secure.ransa.net/portalmineria/index.aspx"/>
      <add key="MailCOClave" value="Pa$$w0rd2000"/>
      <add key="emailto_error" value="jcachom@ransa.net"/>
      <!-- WebService "ws_reversion_ingreso"  CSR-HUNDRED-ESTIMACION-INGRESO-->
      <add key="url_ws_reversion_ingreso" value="http://ranmoliispr2.gruporansa.gromero.net:8075/ws_salmon.svc"/>
      
      
    </appSettings> 
</configuration>
