<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RANSA.ConexionODBC" value="Dsn=DESARROLLO;"/>
    <add key="RANSA.ConexionODBCUser" value=""/>
    <!-- SISTEMA ALMACEN DE TRANSITO -->
    <add key="RecepcionClienteCodigo" value=""/>
    <add key="RecepcionClienteNombre" value=""/>
    <add key="PreDespachoClienteCodigo" value=""/>
    <add key="PreDespachoClienteNombre" value=""/>
    <add key="DespachoClienteCodigo" value=""/>
    <add key="DespachoClienteNombre" value=""/>
    <add key="RepRecepcionPorAlmacenClienteNombre" value=""/>
    <add key="RepRecepcionPorAlmacenClienteCodigo" value=""/>
    <add key="ServicioAdquiridoClienteNombre" value=""/>
    <add key="ServicioAdquiridoClienteCodigo" value=""/>
    <add key="InterfaseExcel" value=""/>
    <add key="RecepcionOC_CodigoCliente" value=""/>
    <add key="RecepcionOC_DetalleCliente" value=""/>
    <!-- SISTEMA DEPOSITO SIMPLE -->
    <add key="MANSDS_ClienteCodigo" value=""/>
    <add key="MANSDS_ClienteNombre" value=""/>
    <add key="RECSDS_ClienteCodigo" value=""/>
    <add key="RECSDS_ClienteNombre" value=""/>
    <add key="DEPSDS_ClienteCodigo" value=""/>
    <add key="DEPSDS_ClienteNombre" value=""/>
    <add key="Despacho_CodTransportista" value=""/>
    <add key="Despacho_NomTransportista" value=""/>
    <add key="Despacho_Placa" value=""/>
    <add key="Despacho_Brevete" value=""/>
    <add key="Despacho_TipoDespacho" value=""/>
    <add key="Recepcion_CodTransportista" value=""/>
    <add key="Recepcion_NomTransportista" value=""/>
    <add key="Recepcion_Placa" value=""/>
    <add key="Recepcion_Brevete" value=""/>
    <add key="Recepcion_TipoRecepcion" value=""/>
    <add key="Recepcion_TipoAlmacen" value=""/>
    <add key="Recepcion_Almacen" value=""/>
    <add key="Recepcion_Zona" value=""/>
    <add key="RutaImagen" value="http://ranmolapl01.gruporansa.gromero.net/DocumentosWeb/FILES/SA/"/>


    <!-- PARAMETROS PARA EL ENVIO DE EMAIL-GMAIL-->
    <add key="email_account_gmail" value="solmin.integracion@gmail.com"/>
    <add key="email_password_gmail" value="Pa$$w0rd2000"/>
    <add key="emailto_error" value="jcachom@gromero.com.pe"/>

    <!--  PARAMETROS PARA EL ENVIO DE EMAIL-RANSA -->
    <add key="MailFrom" value="solminintegracion@ransa.net"/>
    <add key="MailFromClave" value="Pa$$w0rd2"/>


    <!-- WebService "ws_reversion_ingreso"  CSR-HUNDRED-ESTIMACION-INGRESO-->
    <add key="url_ws_reversion_ingreso" value="http://ranmoliispr2.gruporansa.gromero.net:8075/ws_salmon.svc"/>

    <!-- VARIABLE DE CARGA DE PRE LOADER-->
    <add key="Preloader" value="no"/>

    <!-- CONSULTA GPS -->
    <add key="GoogleMapsKey" value="ABQIAAAAR-_D972kTt48vkHY1XkPmxSsu9kPFTNklwbEmDP8PyhZRumioxTOybfyNQxaU2qu-VcIZdXQkRSxkA"/>



    <!-- SISTEMA DEPOSITO AUTORIZADO -->
    <add key="RECSDA_ClienteCodigo" value=""/>
    <add key="RECSDA_ClienteNombre" value=""/>
    <add key="DEPSDA_ClienteCodigo" value=""/>
    <add key="DEPSDA_ClienteNombre" value=""/>
    <add key="UsuarioLogin" value=""/>
    <!-- TITULO DEL SISTEMA-->
    <add key="System" value="SOLMIN_SA"/>
    
    <add key="URLDocLinksSolAlmacen" value="https://secure.ransa.net/imagenessolmin/imagenes/solmin/"/>
    <add key="Sistema" value="Solmin  Almacenes"/>
    <add key="System_prefix" value="SA"/>

    <!-- MENSAJE DE ERROR DEL SISTEMA-->
    <add key="MsgErr" value="La operación no pudo completarse, Notifique este evento al Dpto. de Sistemas."/>
    <add key="ZebraPrinter" value="Zebra  ZM400 200 dpi (ZPL)"/>
    <add key="ZebraPrinter2" value="ZDesigner ZM400 200 dpi (ZPL)"/>
    <add key="IO_IMPORTAR_OC" value="11232"/>


    <!--ENVIAR GUÍAS PACASMAYO-->
    <!--ECM-HUNDRED-SGR-DAS-DMA-PMO-001-INICIO-->
    <add key="Usuario" value="ranza@cpsaa.com.pe"/>
    <add key="Password" value="ranza2011"/>
    <add key="UrlServWeb" value="http://intranet.cpsaa.com.pe/Portal/publico/ServiciosWeb.nsf/WS-ValidaGuiaSOAP"/>
    <add key="SoapAction" value="http://intranet.cpsaa.com.pe/Portal/publico/ServiciosWeb.nsf/WS-ValidaGuiaSOAP/validaGuia"/>
    <!--ECM-HUNDRED-SGR-DAS-DMA-PMO-001-FIN-->
    <add key="bucketDestino" value="SA"/>
    
  </appSettings>



  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>

  <connectionStrings>
    <add name="CatalogoConnection" connectionString="Data Source=rancalsql1;Integrated Security=False;Database=OUTOTEC;User ID=sa;Password=dba@admin;" providerName="System.Data.SqlClient"/>
    <add name="CatalogoConnectionPrueba" connectionString="Data Source=rancalsql1;Integrated Security=False;Database=OUTOTEC_PRUEBA;User ID=sa;Password=dba@admin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
